#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}




#navbarNav{
	padding-left: 45vw;
}


.bg-dark{
	background: rgb(118,112,219)!important;
	background: linear-gradient(90deg, rgba(118,112,219,1) 0%, rgba(58,58,199,1) 35%, rgba(7,154,184,1) 100%)!important;
}

.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
	border-radius: 20px;
	transition: all .3s;
}

.active, .collapsible:hover {
	background-color: #ccc;
	transition: all .3s;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: white;
	transition: all .3s;
}

.hak-resim{
	border-radius: 30px!important;
}

/* mobil */
@media only screen and (max-width: 600px) {
	#navbarNav{
		padding-left: 0;
	}

}


